@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

h1.heading {
    position: relative;
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

.content {
    position: relative;
    z-index: 2;
    background-color: white;
    width: 600px;
    margin: 15% auto;
    padding: 40px 20px;
    border-radius: 8px;
}

.row {
    justify-content: center;
}

.btn.ctrl-btn{
    font-weight: bold;
    font-size: 20px;
    border-radius: 100%;
}

.form-control.counter {
    font-weight: bold;
    font-size: 20px;
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}

#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }